.footer {
    background-color: #f1f1eb;
    padding: 2rem 0;
    text-align: start;
    font-family: 'Arial', sans-serif;
}

.footer-top {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: .5rem;
}

.footer-action {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.footer-contact {
    /* text-align: start; */
    gap: .5rem;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}

.footer-contact p {
    /* margin: 0.5rem 0; */
    color: #555;
}

.footer-bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
}

.footer-copy {
    /* color: #777; */
    font-size: 0.9rem;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-logo1 {
    width: 150px;
    border-radius: 16px;
    display: none;
}


.footer-logo2 {
    width: 150px;
    /* border-radius: 24px; */
    /* display: none; */
}
@media screen and (max-width: 1036px) {


    .footer-logo1 {
        /* width: 90px; */
        display: block;

    }

    .footer-logo2 {
        display: none;

    }

}

@media screen and (max-width: 715px) {

    .footer-top {
        flex-direction: column;
        align-items: start;
    }

    .footer-action {
        flex-direction: row;
        /* align-items: end; */
        justify-content: space-between;
    }

    .footer-logo1 {
        width: 0px;
        border-radius: 0;
        display: block;
    }

        .footer-top {
            gap: 2.5rem;   }

}



@media (max-width: 480px) {

    .footer-contact p {
        font-size: 0.9rem;
    }


    .footer-bottom {
        flex-direction: column-reverse;
        align-items: start;
    }
}

@media (max-width: 360px) {

    .footer-links,
    .footer-contact p,
    .footer-copy {
        font-size: 0.9rem;
    }
}


.footer-links a:hover {
    color: #ac663e;
    text-decoration: underline;
}

.footer-contact a {
    color: #ac663e;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}